body {
    .v-list-item {
        $self: &;
        color: $c-white--dark;

        margin-left: 4px;
        margin-right: 4px;
        border-radius: $border-radius-large !important;
        font-size: 1rem;
        font-weight: normal;

        &__prepend {
            >.v-icon {
                &~.v-list-item__spacer {
                    width: 8px !important;
                }
            }
        }

        &:hover {
            background-color: rgba($c-white, .1);
        }

        &--density-default {
            &.v-list-item {
                &--one-line {
                    min-height: 40px;
                }
            }

            &:not(.v-list-item--nav) {
                &.v-list-item {
                    &--one-line {
                        padding-left: 10px;
                        padding-right: 14px;
                    }
                }
            }

            .v-icon {
                &--size-default {
                    font-size: 18px;
                }
            }
        }

        &__prepend {
            &>.v-icon {
                &~.v-list-item__spacer {
                    width: rem(16px);
                }
            }
        }
    }
}
