body {
    .v-toast {
        &__text {
            color: $c-white;
            font-size: 1rem;
            padding: 8px;
        }

        &__item {
            $item: &;

            // reset
            min-height: 0;
            margin: 0;

            opacity: 1;
            background-color: rgba($c-black-1, .8);
            backdrop-filter: blur(5px);
            border: 1px solid $c-black-5;
            border-radius: rem($border-radius-large);

            &:after {
                content: '';
                display: block;
                height: 10px;
                width: 10px;
                border-radius: 999px;
                border: 1px solid lighten($c-success, 20);
                margin-right: 8px;
            }

            &--success {
                &:after {
                    background-color: $c-success;
                }
            }

            &--info {
                border-color: $c-info;
            }

            &--error {
                border-color: $c-error;
            }
        }

        &--bottom {
            gap: rem(10px);
            padding: rem($padding);
        }
    }
}
