body {
    .v-toast {
        &__text {
            color: $c-white;
            font-size: 1rem;
        }

        &__item {
            margin: 0;
            background-color: $c-black-4;
            border-radius: 0 rem($border-radius-normal) rem($border-radius-normal) 0;
            border-bottom: 2px solid transparent;

            &--success {
                border-bottom-color: $c-success;
            }

            &--info {
                border-bottom-color: $c-info;
            }

            &--error {
                border-bottom-color: $c-error;
            }
        }

        &--bottom {
            gap: rem(10px);
            padding: rem($padding);
        }
    }
}
