// black
$c-black-1:             #000000;
$c-black-2:             #050505;
$c-black-3:             #101010;
$c-black-4:             #151515;
$c-black-5:             #202020;
$c-black-6:             #252525;
$c-black-7:             #303030;
$c-black-8:             #353535;
$c-black-9:             #404040;
$c-black-10:            #454545;
$c-black-11:            #505050;
$c-black-12:            #555555;
$c-black-13:            #606060;
$c-black-14:            #656565;
$c-black-15:            #707070;
$c-black-16:            #757575;

// gray
$c-gray:                #666666;

// white
$c-white:               #FFFFFF;
$c-white--dark:         #CCCCCC;

// colors
$c-primary:             #8EFD02; // original
$c-primary:             #cdf620; // valorant style
$c-primary--light:        lighten($c-primary, 20);
$c-primary--lighter:      lighten($c-primary, 30);
$c-primary--darkest:      darken($c-primary, 45);

$c-yellow:              #FFC700;
$c-orange:              #e67e22;
$c-red:                 #e74c3c;
$c-purple:              #8e44ad;
$c-blue:                #3498db;
