@import '../functions/rem';

$padding: 20px;

// container
$container-default-width: 1840px;
$container-smaller-width: 1440px;

// header
$header-height: rem(80px);

// bottom navigation
$bottom-navigation-height: rem(70px);

// border radius
$border-radius-normal: 4px;

// mediaqueries
$desktop: 1000px;
