@import '../functions/rem';

// padding
$padding-smaller: 10px;
$padding: 20px;
$padding-larger: 30px;

// container
$container-default-width: 1840px;
$container-smaller-width: 1440px;

// header
$header-height: rem(80px);

// bottom navigation
$bottom-navigation-height: rem(70px);

// border radius
$border-radius-normal: 4px;
$border-radius-large: 6px;

// mediaqueries
$desktop: 1000px;
