body {
    .el-drawer {
        &__header {
            margin-bottom: 0;
        }

        &__title {
            color: $c-white;
            font-weight: bold;
            font-size: rem(32px);
        }
    }
}
