@import 'tailwindcss';

@theme {
    /* fonts */
    --font-open-sans: 'Open Sans';
    --font-space-grotesk: 'Space Grotesk';
    --font-montserrat: 'Montserrat';
    --font-lato: 'Lato';

    --color-gigigreen-lighter: hsl(72, 92%, 75%);
    --color-gigigreen-light: hsl(72, 92%, 65%);
    --color-gigigreen: hsl(72, 92%, 55%);
    --color-gigigreen-dark: hsl(72, 92%, 45%);
    --color-gigigreen-darker: hsl(72, 92%, 35%);

    --color-primary-lighter: var(--color-gigigreen-lighter);
    --color-primary-light: var(--color-gigigreen-light);
    --color-primary: var(--color-gigigreen);
    --color-primary-dark: var(--color-gigigreen-dark);
    --color-primary-darker: var(--color-gigigreen-darker);

    /* text */
    --color-normal: hsl(0, 0%, 95%);
    --color-muted: hsl(0, 0%, 70%);
    --color-muted-more: var(--color-black-1200);

    /* black */
    --color-black-100: #050505;
    --color-black-150: #0a0a0a;
    --color-black-200: #101010;
    --color-black-250: #121212;
    --color-black-300: #151515;
    --color-black-350: #171717;
    --color-black-400: #202020;
    --color-black-450: #222222;
    --color-black-500: #252525;
    --color-black-600: #303030;
    --color-black-700: #353535;
    --color-black-800: #404040;
    --color-black-900: #454545;
    --color-black-1000: #505050;
    --color-black-1100: #555555;
    --color-black-1200: #606060;
    --color-black-1300: #656565;
    --color-black-1400: #707070;
    --color-black-1500: #757575;
    --color-black-1600: #808080;
    --color-black-1700: #858585;
    --color-black-1800: #909090;
    --color-black-1900: #959595;
    --color-black-2000: #a0a0a0;

    --height-header: 80px;

    /* --height-mobile-navbar: 64px;
    --height-available: calc(100vh - var(--height-mobile-navbar));

    --spacing-mobile-navbar: var(--height-mobile-navbar); */

    --breakpoint-3xl: 120rem;
    --breakpoint-4xl: 140rem;
    --breakpoint-5xl: 160rem;

    --background-color-default: var(--color-black);

    --ring-color-default: var(--color-black);
}

.fs h1,
.fs h2,
.fs h3,
.fs h4,
.fs h5,
.fs h6 {
    @apply text-normal font-bold text-2xl mb-1 not-first:mt-8;
}

.fs p {
    @apply text-muted;
}

body {
    @apply font-space-grotesk overflow-x-hidden text-normal;
}

p:not(:last-child) {
    @apply mb-3;
}

a.link,
a:not([class]) {
    @apply underline text-primary hover:text-primary-light;
}

@utility scroll-hidden {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

button {
    @apply cursor-pointer;
}

.scroll-hidden::-webkit-scrollbar {
    display: none;
}

/* vuetify overwrites */
/* expansion panel */
.v-expansion-panel--active > .v-expansion-panel-title:not(.v-expansion-panel-title--static) {
    min-height: inherit !important;
}

.v-expansion-panel-text {
    @apply text-muted;
}

/* overlay */
.v-overlay {
    --v-overlay-opacity: 0.6;
}
